.effective {
  margin-top: -20px;
  padding-top: 80px;
  background-color: #1b2330ff;
}

.effective__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.effective__box {
  width: 563px;
  color: #fff;
}

.box__button {
  position: relative;
  border: none;
  color: #62e0d9;
  background-color: #1b2330ff;
}

.box__button::before {
  position: absolute;
  top: 30px;
  content: "";
  width: 180px;
  height: 3px;
  background-color: #62e0d9;
}
